# 03 Hypothesis Testing and Validation

## Objectives

- Validate project hypotheses with simple, explainable tests
- Document effect sizes and limitations

## Inputs

- data/processed/v1/environmental_trends_clean.csv

## Outputs

- Hypothesis test results and interpretations

## Additional Comments

- Focus on association, not causation

---

# Change working directory

In [1]:
import os
current_dir = os.getcwd()
os.chdir(os.path.dirname(current_dir))
os.getcwd()

'c:\\Users\\sergi\\OneDrive\\Documents\\Code Institute Data analytics\\Capstone project 3\\Global_environmental_trends_2000_2024\\global_env_trend'

# Load processed data

In [2]:
import pandas as pd
clean_path = "data/processed/v1/environmental_trends_clean.csv"
df = pd.read_csv(clean_path)
df.head()

,Year,Country,Avg_Temperature_degC,CO2_Emissions_tons_per_capita,Sea_Level_Rise_mm,Rainfall_mm,Population,Renewable_Energy_pct,Extreme_Weather_Events,Forest_Area_pct
0,2000,United States,13.5,20.2,0,715,282500000,6.2,38,33.1
1,2000,China,12.8,2.7,0,645,1267000000,16.5,24,18.8
2,2000,Germany,9.3,10.1,0,700,82200000,6.6,12,31.8
3,2000,Brazil,24.9,1.9,0,1760,175000000,83.7,18,65.4
4,2000,Australia,21.7,17.2,0,534,19200000,8.8,11,16.2

# H1: CO2 emissions per capita vs average temperature

In [3]:
h1_df = df.dropna(subset=["CO2_Emissions_tons_per_capita", "Avg_Temperature_degC"])
h1_corr = h1_df[["CO2_Emissions_tons_per_capita", "Avg_Temperature_degC"]].corr().iloc[0, 1]
h1_corr

-0.4265130768111476

# H2: Renewable energy percent vs CO2 emissions trend

In [4]:
h2_df = df.dropna(subset=["Renewable_Energy_pct", "CO2_Emissions_tons_per_capita"])
h2_corr = h2_df[["Renewable_Energy_pct", "CO2_Emissions_tons_per_capita"]].corr().iloc[0, 1]
h2_corr

-0.5351178707496878

# H3: Extreme weather events trend over time

In [5]:
trend = df.groupby("Year")["Extreme_Weather_Events"].mean()
trend

Year
2000    12.923077
2005    15.346154
2010    17.884615
2015    20.923077
2020    25.230769
2024    28.807692
Name: Extreme_Weather_Events, dtype: float64

# H4 (optional): Forest area percent vs extreme events or rainfall volatility

In [6]:
h4_df = df.dropna(subset=["Forest_Area_pct", "Extreme_Weather_Events"])
h4_corr = h4_df[["Forest_Area_pct", "Extreme_Weather_Events"]].corr().iloc[0, 1]
h4_corr

0.0700366074679095